@media screen and (min-width: 577px) and (max-width: 992px)
{
/*********************Header // Page*********************/
    .header, main
    {
        margin: 0;
    }
    .header
    {
        flex-direction: column;
    }
    .header__logo
    {
        margin-bottom: 20px;
    }
    .header__nav__link
    {
        padding: 0 10px 10px 10px;
        transform: rotate(0deg);
    }
    .header__nav__link:hover
    {
        display: block;
        font-weight: bold;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        transform: rotate(-5deg);
        transition: transform 200ms;
    }
/*********************Fin Header // Page*********************/
/*********************Top // Main*********************/
    .top
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top__heading1, .top__heading4
    {
        font-size: 1.2em;
        margin: 0 0 15px 0;
    }
    .top__filtre-child, .top__search__input
    {
        font-size: 0.95em;
    }
    .top__filtres
    {
        width: 100%;
        justify-content: center;
        flex-flow: row wrap;
    }
    .top__filtre-child
    {
        margin: 5px 5px;
        padding: 10px 10px 10px 40px;
    }
/*********************Fin Top // Main*********************/
/*********************Section1 // Main*********************/
    .section1
    {
        flex-direction: column-reverse;
    }
    .section1__aside
    {
        width: 100%;
        margin: 0;
        flex-flow: row wrap;
        padding: 15px;
    }
    .section1__aside__title
    {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 15px 0;
    }
    .section1__aside__title h2
    {
        margin-right: 20px;
    }
    .section1__aside__card-container__card
    {
        width: 47%;
        height: 150px;
        margin-bottom: 0;
    }
    .section1__left
    {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .section1__left__card-container__card
    {
        width: 45%;
    }
/*********************Fin Section1 // Main*********************/
/*********************Section2 // Main*********************/
    .section2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section2__title
    {
        margin: 0 0 20px 0;
    }
    .section2__card-container
    {
        flex-wrap: wrap;
        margin: 0 15px 15px 15px;
    }
    .section2__card-container__card, .section2__card-container__card--right
    {
        width: 45%;
        height: 300px;
        margin-bottom: 20px;
    }
    .section2__card-container__card__small, .section2__card-container__card__medium, .section2__card-container__card__half
    {
        height: 46%;
    }
/*********************Fin Section2 // Main*********************/
/*********************Footer*********************/
    .footer
    {
        margin-top: 0;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 10px 0;
    }
    .footer__nav
    {
        width: auto;  
    }
    .footer__nav h4
    {
        margin-bottom: 10px;
    }
    .footer__nav ul li
    {
        margin-bottom: 10px;
        font-size: 0.90em;
    }
/*********************Fin Footer*********************/
}
@media screen and (min-width: 993px) and (max-width: 1150px)
{
    html
    {
        font-size: 0.85rem;
    }
    .section1__left__card-container__card
    {
        height: 150px;
    }
    .section1__aside__card-container__card
    {
        height: 110px;
    }
    .section1__aside__card-container__card p
    {
        margin-bottom: 10px;
    }
    .section1__left__link-container
    {
        margin-bottom: 0;
    }
}
