@media screen and (max-width: 576px)
{   
/*********************Header // Page*********************/
    .header, main
    {
        margin: 0;
    }
    .header
    {
        display: flex;
        flex-direction: column;
        height: 17vh;
    }
    .header__logo, .header__nav
    {
        transform: translateY(0);
    }
    .header__nav
    {
        position: static; /*Pour rendre le header le premier parent positionné pour l'<a> 's'inscrire'*/
    }
    .header__nav__link--sinscrire
    {
        position: absolute;
        right: 20px;
    }
    .header__logo, .header__nav__link--sinscrire
    {
        top: 10px; 
        height: 7vh;
    }
    .header__logo
    {
        left: 20px;
    }
    .header__nav__link--hebergements, .header__nav__link--activites
    {
        height: 4vh;
        position: absolute;
        top: 12vh;
        width: 50vw;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
        padding: 0 0 10px 0;
    }
    .header__nav__link--hebergements:hover, .header__nav__link--activites:hover
    {
        border-bottom: 2px solid #0065FC;
    }
    .header__nav__link--hebergements
    {
        left: 0;
    }
    .header__nav__link--activites
    {
        right: 0;
    }
    .header__nav__link:hover
    {
        border-top: 0;
    }
/*********************Fin Header // Page*********************/
/*********************Top // Main*********************/
    .top__heading1, .top__heading4
    {
        margin: 15px;
    }
    .top__search
    {
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .top__search__input
    {
        width: 60vw;
    }
    .top__search__input-submit
    {
        padding: 0;
        color: rgba(255, 255, 255, 0);
        background-image: url("../images/icons/search-solid.svg");
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        width: 50px;
    }
    .top__filtres
    {
        margin-left: 10px;
        height: 30vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .top__filtre-child i
    {
        width: 35px;
    }
    .top__filtre-child
    {
        width: 57%;
    }
    .top__filtre-child--familial, .top__filtre-child--economique
    {
        position: absolute;
        top: 20%;
        width: 45%;
    }
    .top__filtre-child--familial
    {
        right: 20px;
    }
    .top__filtre-child--economique
    {
        left: 0;
    }
    .top__filtre-child--romantique
    {
        width: 45%;
        position: absolute;
        top: 49%;
    }
    .top__info
    {
        margin-left: 10px;
        align-items: flex-start;
    }
/*********************Fin Top // Main*********************/
/*********************Section1 // Main*********************/
    .section1
    {
        flex-direction: column-reverse;
        width: 100vw;
    }
    .section1__aside
    {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .section1__aside__card-container__card
    {
        align-self: center;
    }
    .section1__left
    {
        width: 100%;
        padding: 0;
        height: 180vh;
        background-color: white;
    }
    #section1__left__title, .section1__left__link
    {
        padding: 0;
    }
    #section1__left__title
    {
        margin: 20px 0 20px 10px;
    }
    .section1__left__link
    {
        margin-left: 10px;
    }
    .section1__left__card-container
    {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        height: 92%;
        margin-bottom: 25px;
    }
    .section1__left__card-container_card
    {
        width: 85%;
        height: 15.5%;
        overflow: hidden;
    }
    .section1__left__card-container__card__img-container
    {
        overflow: hidden;
        width: 99%;
    }
/*********************Fin Section1 // Main*********************/
/*********************Section2 // Main*********************/
    .section2
    {
        height: 150vh;
        width: 100vw;
    }
    #section2__title
    {
        height: 3%;
        margin: 10px 0 0 10px;
    }
    .section2__card-container
    {
        flex-direction: column;
        align-items: center;
    }
    .section2__card-container__card, .section2__card-container__card--right
    {
        width: 85%;
        
    }
    .section2__card-container__card
    {
        height: 16%;
        margin: 20px 0 20px 0;
    }
    .section2__card-container__card--right
    {
        height: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section2__card-container__card__small
    {
        height: 45%;
    }
    .section2__card-container__card__title
    {
        height: 30%;
        
    }
    .section2__card-container__card__title, .section2__card-container__card__small__title
    {
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: 10px;
    }
    .section2__card-container__card__img-container
    {
        height: 70%;
    }
/*********************Fin Section2 // Main*********************/
/*********************Footer*********************/
    .footer
    {
        height: auto;
        margin: 20px 0 0 0;
        padding: 5px;
        flex-direction: column;
    }
    .footer__nav
    {
        width: 100%;
        margin: 10px;
    }
/*********************Fin Footer*********************/
/*********************Généralités*********************/
    .section2__card-container__card__img-container img, .img--vertical, .section2__card-container__card__small__img-container img, .section1__left__card-container__card__img-container img, .section1__aside__card-container__card__img-container_img
    {
        object-fit: cover;
        height: 100%;
        max-width: none;
        min-width: 100%;
        width: auto;
        transform: translateY(0); 
    }
/*********************Fin Généralités*********************/
}
