:root 
{
    box-sizing: border-box;
}
html
{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
*
{
    box-sizing: inherit;
}

/*********************Header // Page*********************/
.header, .main
{
    margin: 0 50px 0 50px;
}
.header
{
    position: relative;
    height: 15vh; 
}
.header__logo, .header__nav
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /*Pour enlever la taille de l'élément lors du centrage*/
}
.header__logo
{
    left: 0;   
}
.header__nav
{
    right: 0;
}
.header__nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__nav__link
{
    text-decoration: none;
    color: #0065FC;
    padding: 25px 25px 0 25px; /*Pour espacer les éléments et éloigner la bordure */
}
.header__nav__link--black
{
    color: black;
}
.header__nav__link--bold
{
    font-weight: bold;
}
.header__nav__link--active
{
    border-top: 2px solid #0065FC;
}
/*********************Fin Header // Page*********************/
/*********************Main*********************/
/*********************Top // Main*********************/
.main__top__heading1
{
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px 0 15px 0;
}
.main__top__heading4
{
    margin-bottom: 15px;
    font-size: 0.95em;
}
.main__top__search
{
    height: 6vh;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.main__top__search__icon, .main__top__search__input, .main__top__search__input-submit
{
    height: 100%;
    
}
.main__top__search__icon
{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    padding: 0 13px 0 13px;
    border-radius: 10px 0 0 10px;
}
.main__top__search__input-submit
{
    border-radius: 0 10px 10px 0; 
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 10px;
}
.main__top__search__input
{
    font-weight: bold;
    padding: 7px 7px 7px 12px;
    border: 1px solid #F2F2F2;
    font-size: 1em;
}
input[type=checkbox] 
{
    display:none;
} /*Pour enlever les petites bulles de mes filtres radio*/

.main__top__filtres
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 0 20px 0;
}
.main__top__filtre-heading
{
    padding: 12px;
    font-weight: bold;
}
.main__top__filtre-child
{
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 12px 12px 12px 40px;
    font-weight: bold;
    position: relative;
    transform: scale(1);
    transition: transform 200ms;   
}
.main__top__filtre-child:hover
{
    transform: scale(1.15);
}

input[type="checkbox"]:checked + label i
{
    background-color: #adceff;
}
.main__top__filtre-child i
{
    color: #0065FC;
    padding: 0 5px 0 5px;
    background-color: #DEEBFF;
    border-radius: 50px;
    width: 35px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} /*Question : pourquoi le flex marche ici ? L'icône est le dernier élément.*/
.main__top__info
{
    display: flex;
    margin-bottom: 20px;
}
.main__top__info__icon
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    color: #0065FC;
    font-size: 0.9em;
    padding: 5px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}
.main__top__info__text
{
    padding: 5px;
    margin-left: 5px;
}
/*********************Fin Top // Main*********************/
/*********************Main // Général*********************/
.section1
{
    display: flex;
    justify-content: space-between;
}
/*********************Main // Général*********************/
/*********************Section1 // Main*********************/
.section1__left
{
    background-color: #F2F2F2;
    height: 90vh;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 65%;
}
#section1__left__heading2
{
    font-weight: bold;
    font-size: 1.3em;
    margin: 20px 0 0 5px;
}
.section1__left__card-container
{
    height: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-evenly;
}
.section1__left__card-container_card
{
    height: 43%;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px; /*Pour donner de l'espace blanc*/
    text-decoration: none;
    color: black;
}
.section1__left__card-container_card h3
{
    font-weight: bold;
    margin: 5px 0;
}
.section1__left__card-container_card p
{
    margin-bottom: 5px; /*Pour espaces des étoiles, le margin en haut est déjà établi par le titre*/
    font-size: 0.9em;
}
.section1__left__card-container__card__img-container
{
    align-self: center;
    height: 65%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.section1__left__card-container__card__img-container img
{
    width: 100%;
}

.section1__left__link
{
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 5px; /*Pour aligner au H2*/
}
.img--vertical
{
    transform: translateY(-30%); /*Bouger vers le haut les images verticales dans leurs cadres*/
    width: 100%;
}
.star
{
    color: #0065FC;
    font-size: 0.8em;
}
.star--grey
{
    color:#d9d9d9;
}
/*********************Fin Section1 // Main*********************/

.section1__right
{
    width: 30%;
    margin-left: 20px;
    height: 90vh;
    background-color: #F2F2F2;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.section1__right__card-container_card
{
    display: flex;
    height: 25%;
    width: 90%;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
.section1__right__card-container__card__img-container
{
    width: 40%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}
.section1__right__card-container__card__img-container_img
{
    height: 100%;
    min-width: 100%;
}
.section1__right__card-container__card__text-container
{

    margin-left: 10px;
    align-self: center;
    width: 50%;
}
.section1__right__card-container__card__text-container h3
{
    font-weight: bold;
}
.section1__right__title
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.3em;
    margin: 20px 5px 0 5px;
}
.section1__right__card-container_card p
{
    margin-bottom: 30px; /*Pour espaces des étoiles*/
    font-size: 0.9em;
}