:root 
{
    box-sizing: border-box;
}
html
{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
*
{
    box-sizing: inherit;
}

/*********************Header // Page*********************/
.header, .main
{
    margin: 0 50px 0 50px;
}
.header
{
    position: relative;
    height: 15vh; 
}
.header__logo, .header__nav
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /*Pour enlever la taille de l'élément lors du centrage*/
}
.header__logo
{
    left: 0;   
}
.header__nav
{
    right: 0;
}
.header__nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__nav__link
{
    text-decoration: none;
    color: #0065FC;
    padding: 25px 25px 0 25px; /*Pour espacer les éléments et éloigner la bordure */
}
.header__nav__link--black
{
    color: black;
}
.header__nav__link--bold
{
    font-weight: bold;
}
.header__nav__link--active
{
    border-top: 2px solid #0065FC;
}
/*********************Fin Header // Page*********************/
/*********************Main*********************/
/*********************Header // Main*********************/
.main__top__heading1
{
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px 0 15px 0;
}
.main__top__heading4
{
    margin-bottom: 15px;
    font-size: 0.95em;
}
.main__top__search
{
    height: 6vh;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.main__top__search__icon, .main__top__search__input, .main__top__search__input-submit
{
    height: 100%;
    
}
.main__top__search__icon
{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    padding: 0 13px 0 13px;
    border-radius: 10px 0 0 10px;
}
.main__top__search__input-submit
{
    border-radius: 0 10px 10px 0; 
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 10px;
}
.main__top__search__input
{
    font-weight: bold;
    padding: 7px 7px 7px 12px;
    border: 1px solid #F2F2F2;
    font-size: 1em;
}
input[type=checkbox] 
{
    display:none;
} /*Pour enlever les petites bulles de mes filtres radio*/

.main__top__filtres
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 0 20px 0;
}
.main__top__filtre-heading
{
    padding: 12px;
    font-weight: bold;
}
.main__top__filtre-child
{
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 12px 12px 12px 40px;
    font-weight: bold;
    position: relative;
    transform: scale(1);
    transition: transform 200ms;   
}
.main__top__filtre-child:hover
{
    transform: scale(1.15);
}

input[type="checkbox"]:checked + label i
{
    background-color: #adceff;
}
.main__top__filtre-child i
{
    color: #0065FC;
    padding: 0 5px 0 5px;
    background-color: #DEEBFF;
    border-radius: 50px;
    width: 35px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} /*Question : pourquoi le flex marche ici ? L'icône est le dernier élément.*/
