/*********************Généralités*********************/
html
{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}
body
{
    max-width: 1900px; /*Pour ne pas trop étirer le display*/
    margin: auto;
}
*
{
    box-sizing: inherit;
}
.star
{
    color: #0065FC;
    font-size: 0.8em;
}
.star--grey
{
    color:#d9d9d9;
}
span
{
    font-weight: bold;
}
/*********************Fin Généralités*********************/
/*********************Header // Page*********************/
main
{
    margin: 0 50px 0 50px;
}
.header
{
    display: flex;
    justify-content: space-between;
    margin: 60px 50px 35px 50px;
}
.header__logo, .header__nav
{
    height: 50px;
}
.header__nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__nav ul li
{
    text-align: center;
}
.header__nav__link
{
    text-decoration: none;
    color: black;
    padding: 40px 25px 0 25px; /*Pour espacer les éléments et éloigner la bordure*/
}
.header__nav__link--sinscrire a, .header__nav__link:hover
{
    color: #0065FC;
}
.header__nav__link--sinscrire
{
    font-weight: bold;
}
.header__nav__link:hover
{
    border-top: 2px solid #0065FC;
}
/*********************Fin Header // Page*********************/
/*********************Main*********************/
    /*********************Top // Main*********************/
    .top__heading1
    {
        font-size: 1.3em;
        font-weight: bold;
        margin: 15px 0 15px 0;
    }
    .top__heading4
    {
        margin-bottom: 15px;
        font-size: 0.95em;
    }
    .top__search
    {
        height: 40px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .top__search__icon, .top__search__input, .top__search__input-submit
    {
        height: 100%;
    }
    .top__search__icon
    {
        background-color: #F2F2F2;
        display: flex;
        align-items: center;
        padding: 0 13px;
        border-radius: 10px 0 0 10px;
    }
    .top__search__input
    {
        font-weight: bold;
        padding-left: 12px;
        border: 1px solid #F2F2F2;
        font-size: 0.95em;
    }
    .top__search__input-submit
    {
        border-radius: 0 10px 10px 0; 
        background-color: #0065FC;
        color: white;
        border: none;
    }
    input[type=checkbox] 
    {
        display:none;
    } /*Pour enlever les petites bulles de mes filtres radio*/

    .top__filtres
    {
        display: flex;
        margin-bottom: 15px;
    }
    .top__filtre-heading
    {
        padding: 12px;
        font-weight: bold;
    }
    .top__filtre-child
    {
        margin: 0 5px;
        border: 2px solid #F2F2F2;
        border-radius: 20px;
        padding: 12px 12px 12px 40px; /*40px left pour faire place pour l'icône*/ 
        font-weight: bold;
        position: relative; /*Pour placer en absolute l'icône*/
        transform: scale(1);
        transition: transform 200ms;   
    }
    .top__filtre-child:hover
    {
        transform: scale(1.15);
    }
    input[type="checkbox"]:checked + label i
    {
        background-color: #94bfff; /*15% lightness HSL plus foncé*/
        color: #003b94; /*20% lightness HSL plus foncé*/
    }
    .top__filtre-child i
    {
        color: #0065FC;
        padding: 0 5px;
        background-color: #DEEBFF;
        border-radius: 50px;
        width: 35px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top__info
    {
        display: flex;
        margin-bottom: 15px;
    }
    .top__info__icon
    {
        border: 2px solid #F2F2F2;
        border-radius: 50px;
        color: #0065FC;
        font-size: 0.9em;
        padding: 5px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
    }
    .top__info__text
    {
        padding: 5px;
        margin-left: 5px; /*Pour espacer de l'icone*/
    }
    /*********************Fin Top // Main*********************/
    /*********************Sections // Main*********************/
    .section1
    {
        display: flex;
        justify-content: space-between;
    }
    .section1__left, .section1__aside
    {
        background-color: #F2F2F2;
        margin-bottom: 15px;
        padding: 10px 25px;
        border-radius: 20px;
    }
    .section1__left
    {
        width: 65%;
    }
    .section1__aside
    {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
    /*********************Titres et lien 'Afficher plus' // Main*********************/
    #section1__left__title, .section1__aside__title, #section2__title, .section1__left__link-container
    {
        margin: 20px 0 15px 5px;
        font-weight: bold;
    }
    #section1__left__title, .section1__aside__title, #section2__title
    {
        font-size: 1.3em;
    }
    .section1__aside__title
    {
        display: flex;
        justify-content: space-between;
    }
    .section1__left__link
    {
        text-decoration: none;
        color: black;
    } /*'Afficher plus'*/
    /*********************Fin Titres // Main*********************/
    /*********************Card containers // Main*********************/
    .section1__left__card-container, .section2__card-container
    {
        display: flex; 
        justify-content: space-between;
    }
    .section1__left__card-container
    {
        flex-flow: row wrap;
        align-content: space-evenly;
    }
    /*********************Fin Card containers // Main*********************/
    /*********************Cards // Main*********************/
    .section1__left__card-container__card, .section1__aside__card-container__card, .section2__card-container__card--right
    {
        display: flex;
    }
    .section1__left__card-container__card, .section1__aside__card-container__card
    {
        background-color: white;
        padding: 5px;
        margin: 10px 0 10px 0;
    } /*proprietes pour les cards de la section 1 */
    .section1__left__card-container__card, .section1__aside__card-container__card, .section2__card-container__card, .section2__card-container__card__small, .section2__card-container__card__medium, .section2__card-container__card__half
    {
        box-shadow: 0 3px 9px 0 #d9d9d9;
        border-radius: 20px;
        text-decoration: none;
        color: black;
    } /*proprietes pour toutes les cards */
    .section1__left__card-container__card, .section2__card-container__card--right
    {
        flex-direction: column;
    }
    .section1__left__card-container__card
    {
        height: 200px;
        width: 30%;
    }
    .section1__aside__card-container__card
    {
        height: 130px;
        width: 90%;
    }
    .section2__card-container__card, .section2__card-container__card--right
    {
        width: 22%;
        height: 400px;
    }
    .section2__card-container__card--right
    {
        justify-content: space-between;
    }
    .section2__card-container__card__small
    {
        height: 150px;
    }
    .section2__card-container__card__half
    {
        height: 185px;
    }
    .section2__card-container__card__medium
    {
        height: 210px;
    }
    /*********************Fin Cards // Main*********************/
    /*********************Text des cards // Main*********************/
    .section1__left__card-container__card__text-container, .section1__aside__card-container__card__text-container
    {
        margin-left: 10px;
    } /*Text containers de la section 1*/
    .section1__left__card-container__card__text-container h3, .section1__left__card-container__card p, .section1__aside__card-container__card p
    {
        margin: 5px 0;
    } /*Text de la section 1 : h3 et p*/
    .section1__left__card-container__card p, .section1__aside__card-container__card p
    {
        font-size: 0.9em;
    } /*Text de la section 1 : p*/
    .section1__aside__card-container__card__text-container h3, .section1__left__card-container__card__text-container h3, .section2__card-container__card__title,  .section2__card-container__card__small__title
    {
        font-weight: bold;
    } /*Titres de la section 1 et 2*/
    .section1__aside__card-container__card__text-container
    {
        align-self: center;
        width: 60%;
    }
    .section1__aside__card-container__card p
    {
        margin-bottom: 30px; /*Pour espaces des étoiles*/
    }
    .section2__card-container__card__title
    {
        height: 50px;
        margin: 15px 0 0 15px;
    } /*Text containers de la section 2*/
    /*********************Fin Text des cards // Main*********************/
    /*********************Image containers // Main*********************/
    .section1__left__card-container__card__img-container, .section1__aside__card-container__card__img-container, .section2__card-container__card__img-container, .section2__card-container__card__small__img-container
    {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center; /*Pour centrer les images*/
    }
    .section1__left__card-container__card__img-container, .section2__card-container__card__img-container, .section2__card-container__card__small__img-container
    {
        border-radius: 20px 20px 0 0;
    }
    .section1__left__card-container__card__img-container
    {
        height: 65%;
    }
    .section1__aside__card-container__card__img-container
    {
        width: 40%;
        border-radius: 20px 0 0 20px;
    }
    .section2__card-container__card__img-container, .section2__card-container__card__small__img-container
    {
        height: calc(100% - 50px); /*100% minus 50px de l'espace dédié aux titres dex images*/
    }
    /*********************Fin Image containers // Main*********************/
    /*********************Images // Main*********************/
    .section1__left__card-container__card__img-container img, .section1__aside__card-container__card__img-container img, .section2__card-container__card__img-container img, .section2__card-container__card__small__img-container img
    {
        object-fit: cover;
        width: 100%;
    }
    .section1__aside__card-container__card__img-container img, .section2__card-container__card__img-container img, .section2__card-container__card__small__img-container img
    {
        height: 100%
    }
    /*********************Fin Images // Main*********************/
/*********************Fin Main*********************/
/*********************Footer*********************/
.footer
{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 40px;
    padding: 40px 0 40px 50px;
}
.footer__nav
{
    width: 30%;
}
.footer__nav h4
{
    font-weight: bold;
    margin-bottom: 20px;
}
.footer__nav ul li
{
    margin-bottom: 15px;
}
.footer__nav a
{
    text-decoration: none;
    color: black;
}
/*********************Fin Footer*********************/